@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --greenish-gradient: linear-gradient(90deg, #508C4C 100%, #74BF6F 0%);
    --bg-primary: #252525;

    body {
        font-family: "Inika", serif;
        font-weight: 400;
        font-style: normal;
    }

    h1 {
        font-size: 34px;
        font-weight: 700;
    }

    h2 {
        font-family: "Inika", serif;
        font-size: 24px;
        font-weight: 500;
    }

    p {
        font-family: "Inika", serif;
        font-size: 16px;
        font-weight: normal;
    }
    
}